doctype html
html(lang="en")
	head
		title= htmlWebpackPlugin.options.title
		meta(http-equiv="Content-type",content="text/html; charset=utf-8")
	body
		include pageHeader
		include mainSlider 
		main#pageContent
			div.container
				div.row
					div.col-xs-12
						h1
							| Hello
						h2
							| Hello
						h3
							| Hello
						h4
							| Hello
						h5
							| Hello
						h6
							| Hello
						p
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in justo nec orci venenatis pulvinar vitae ut mi. Pellentesque a porttitor dui. Proin feugiat lobortis est, ac pharetra lorem venenatis sit amet. Curabitur nunc tellus, dapibus a dolor ut, vehicula fringilla ex. Aliquam ornare odio mauris, et posuere felis suscipit non. Nulla tincidunt venenatis mollis. Duis nec diam auctor, elementum lacus sed, venenatis turpis. Aliquam tempus nisi nunc, quis rhoncus dui luctus eget. Maecenas dictum, felis facilisis sagittis convallis, odio nisl ultrices neque, sit amet finibus velit mauris in ligula. Fusce eu dignissim nulla.
						p
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in justo nec orci venenatis pulvinar vitae ut mi. Pellentesque a porttitor dui. Proin feugiat lobortis est, ac pharetra lorem venenatis sit amet. Curabitur nunc tellus, dapibus a dolor ut, vehicula fringilla ex. Aliquam ornare odio mauris, et posuere felis suscipit non. Nulla tincidunt venenatis mollis. Duis nec diam auctor, elementum lacus sed, venenatis turpis. Aliquam tempus nisi nunc, quis rhoncus dui luctus eget. Maecenas dictum, felis facilisis sagittis convallis, odio nisl ultrices neque, sit amet finibus velit mauris in ligula. Fusce eu dignissim nulla.
