header.pageHeader
	.container.pageHeader__container
		.pageHeader__holder
			.banner.pageHeader__bannerHolder
				img.pageHeader__banner(src="/assets/svg/Logotype.svg",alt)
			.banner.pageHeader__bar
				.pageHeader__barControl
					.pageHeader__barControlIconHolder
						img.pageHeader__barControlIcon(src="/assets/svg/icn-account.svg",alt)
					.pageHeader__barControlTitle
						span
							| Sign Up