/** variables are listed here */
@import 'vars.css';

@import 'reset-css/reset.css';
@import 'bootstrap-v3-grid/bootstrap-v3-grid.css';

/** bootstrap-v3-grid required */
@import 'boxSizing.css';

@import 'typography.css';
@import 'pageHeader.css';

body{
	position: relative;
}
#docHeightChangeListener{
	visibility: hidden;
	pointer-events: none;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}