.prlxScene{
	position: relative;
	width: 501px;
	height: 288px;
}
.prlxScene__layer{
	position: absolute;
	top: 0;
	left: 0;
}
.prlxScene__layerImg{
	display: block;
}

.prlxScene__layer--type-lines{
	top: 0;
	margin-top: -55px;
	margin-left: 56px;
}
.prlxScene__layer--type-box{
	top: 100%;
	margin-top: -175px;
	margin-left: -30px;
}
.prlxScene__layer--type-heart{
	top: 0;
	margin-top: 90px;
	margin-left: 92px;
}
